.nx
.vscode
apps
libs
node_modules
tools
.dockerignore
.editorconfig
.eslintignore
.eslintrc.json
.gitignore
.lintstagedrc
.prettierignore
.prettierrc
jest.config.ts
jest.preset.js
nx.json
README.md
tsconfig.base.json
